@import "compass";
@import 'mixin';

$gridMargin: 3px;
$buttonHeight: 32px;
$buttonWidth: 48px;

.react-currency-calculator{
  display: inline-block;
}

.react-currency-calculator__calculator{
  border: 1px solid #ccc;
  @include border-radius(6px);
  padding: 10px;
  padding-top: 5px;
  @include box-shadow(3px 3px 12px -3px rgba(0, 0, 0, 0.4));
  display: inline-block;
  position: absolute;
}

.react-currency-calculator__calculator-buttons{
  position: relative;
}

.react-currency-calculator__calculator-button{
  display: inline-block;
  width: $buttonWidth;
  height: $buttonHeight;
  padding: 0;
  font-size: 16px;
  margin: $gridMargin;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  @include border-radius(4px);
  @include user-select(none);
  cursor: pointer;
}

.react-currency-calculator__calculator-button-2h{
  position: absolute;
  height: (($buttonHeight * 2) + ($gridMargin * 2));
  top: -($buttonHeight + ($gridMargin * 2));
}

.react-currency-calculator__calculator-button-2w{
  width: (($buttonWidth * 2) + ($gridMargin * 2));
}

.react-currency-calculator__calculator-button-3w{
  width: (($buttonWidth * 3) + ($gridMargin * 4));
}

.react-currency-calculator__calculator-button-number{
  color: #222;
  background-color: #fcfcfc;
  border-color: #ccc;
}

.react-currency-calculator__calculator-button-func{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.react-currency-calculator__calculator-button-clear{
  color: #fff;
  background-color: #2d415a;
  border-color: #131b25;
}

.react-currency-calculator__calculator-button-enter{
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.react-currency-calculator__calculator-button-unit{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.react-currency-calculator__calculator-button-close{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  width: 24px;
  height: 24px;
}

.react-currency-calculator__calculator-display{
  @include clearfix();
  margin: $gridMargin;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #ccc;
  @include border-radius(4px);
  background-color: #f2fac9;
  line-height: 16px;
}

.react-currency-calculator__calculator-display-operator{
  float: left;
}

.react-currency-calculator__calculator-display-number{
  text-align: right;
  float: right;
}

.react-currency-calculator__calculator-header{
  text-align: right;
}
