.react-currency-calculator__calculator-button{
  display: inline-block;
  width: 48px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  margin: 3px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
}

.react-currency-calculator__calculator-button-number{
  color: #222;
  background-color: #efefef;
  border-color: #ccc;
}

.react-currency-calculator__calculator-button-func{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.react-currency-calculator__calculator-button-clear{
  color: #fff;
  background-color: #2d415a;
  border-color: #131b25;
}
